<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" fullscreen bg-color="light-blue">

            <v-card v-if="image !== null">

                <v-img class="" max-height="95vh" :src="`/api/v1/posts/${image.id}/s3large`" :lazy-src="image.url">
                    <div class="d-flex justify-space-between">
                        <span class="text-h5">{{image.title}}</span>
                        <v-btn color="primary" variant="plain" class="text-h6 me-n3" @click="closeWindow()"><v-icon
                                icon="mdi-close"></v-icon>
                        </v-btn>
                    </div>
                </v-img>

            </v-card>
        </v-dialog>
    </v-row>
</template>