<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" fullscreen>

            <v-card v-if="images !== null">
                <v-carousel height="100vh" hide-delimiters show-arrows="hover" v-model="imageIndex">
                    <v-carousel-item v-for="(image, i) in images" :key="i">
                        <v-img class="" :src="`/api/v1/posts/${image.id}/s3large`" :lazy-src="image.url">
                            <div class="d-flex justify-space-between mx-2 mt-2">
                                <span class="text-h5">{{image.title}}</span>
                                <span class="icon-image mt-1">
                                    <v-btn v-for="(icon, index) in icons" :key="index" variant="text" size="small"
                                        class="show-btns" @click="handlerButton({ action: icon.action, image })"><v-icon
                                            :icon="icon.icon"></v-icon> &nbsp; {{icon.title}}
                                    </v-btn>
                                </span>
                                <v-btn color="primary" variant="plain" class="text-h6 me-n3"
                                    @click="closeWindow()"><v-icon icon="mdi-close"></v-icon>
                                </v-btn>
                            </div>
                            <template v-slot:placeholder>
                                <v-row class="fill-height ma-0" align="center" justify="center">
                                    <v-progress-circular indeterminate color="grey-lighten-5"></v-progress-circular>
                                </v-row>
                            </template>
                        </v-img>
                    </v-carousel-item>
                </v-carousel>
            </v-card>
        </v-dialog>
    </v-row>
</template>